<a href="https://colab.research.google.com/github/Emboava2022/Desafio-C-digo-Python/blob/main/Datas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_excel('/content/drive/MyDrive/datasets/Aracaju.xlsx')
df2 = pd.read_excel('/content/drive/MyDrive/datasets/Fortaleza.xlsx')
df3 = pd.read_excel('/content/drive/MyDrive/datasets/Natal.xlsx')
df4 = pd.read_excel('/content/drive/MyDrive/datasets/Recife.xlsx')
df5 = pd.read_excel('/content/drive/MyDrive/datasets/Salvador.xlsx')

In [4]:
df = pd.concat([df1,df2,df3,df4,df5])

In [5]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    7
LojaID    0
Qtde      0
dtype: int64

In [6]:
df['Vendas'].fillna(0, inplace=True)

In [7]:
df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [8]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00    1520     1   142.00
1  Aracaju 2018-01-01    0.00    1522     6     0.00
2  Aracaju 2018-01-01   71.55    1520     1    71.55
3  Aracaju 2018-01-01    3.01    1521     7    21.07
4  Aracaju 2018-01-01    0.00    1522     8     0.00

In [9]:
df['Receita/Vendas'] = df['Receita'] / df['Vendas']

In [10]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00    1520     1   142.00             1.0
1  Aracaju 2018-01-01    0.00    1522     6     0.00             NaN
2  Aracaju 2018-01-01   71.55    1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01    1521     7    21.07             7.0
4  Aracaju 2018-01-01    0.00    1522     8     0.00             NaN

In [11]:
df.groupby('Cidade')['Receita'].sum()

Cidade
Aracaju       48388.67
Fortaleza     37876.48
Natal        163915.52
Recife        51859.86
Salvador      40557.44
Name: Receita, dtype: float64

In [12]:
df.sort_values('Receita', ascending=False).head(10)

   Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0     853     4   3544.0             4.0
51  Natal 2018-01-21   859.0     852     4   3436.0             4.0
55  Natal 2019-01-08   859.0     854     4   3436.0             4.0
30  Natal 2018-10-02   856.0     853     4   3424.0             4.0
41  Natal 2018-05-20   835.0     852     4   3340.0             4.0
38  Natal 2018-02-25   828.0     852     4   3312.0             4.0
69  Natal 2019-03-24   817.0     852     4   3268.0             4.0
62  Natal 2018-02-10   793.0     854     4   3172.0             4.0
52  Natal 2018-04-27   778.0     854     4   3112.0             4.0
70  Natal 2019-02-14   743.0     854     4   2972.0             4.0

In [13]:
df.groupby('Data')['Receita'].sum()

Data
2018-01-01    46145.19
2018-01-05     1546.00
2018-01-10     2655.00
2018-01-11     1518.00
2018-01-15      738.00
                ...
2019-03-30     2760.00
2019-03-31      564.00
2019-04-01     4554.00
2019-04-02     1128.00
2019-04-05      584.00
Name: Receita, Length: 76, dtype: float64

***Trabalhando com datas***

In [14]:
#Transformando a coluna de data em tipo inteito 
df['Data'] = df['Data'].astype('int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.

In [15]:
df.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID              int64
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [16]:
# Transformando a coluna de data em datetime
df['Data'] = pd.to_datetime(df['Data'])

In [17]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                     int64
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [18]:
# Agrupando por ano / dt.year -> está dizendo (vá até a minha coluna data e extraia apenas o ano)
df.groupby(df['Data'].dt.year)['Receita'].sum()

Data
2018    114583.19
2019    228014.78
Name: Receita, dtype: float64

In [19]:
# Criando uma nova coluna com o ano 
df['Ano_Venda'] = df['Data'].dt.year

In [20]:
df.sample()

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda
119,Aracaju,2018-01-01,9.32,1523,6,55.92,6.0,2018

In [22]:
# Extraindo o mês e o dia 
df['mês_venda'], df['dia_venda'] = (df['Data'].dt.month, df['Data'].dt.day)

In [23]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mês_venda,dia_venda
97,Natal,2019-01-02,39.91,1037,3,119.73,3.0,2019,1,2
168,Salvador,2019-01-02,20.22,1036,1,20.22,1.0,2019,1,2
110,Salvador,2019-03-02,185.93,1036,3,557.79,3.0,2019,3,2
147,Salvador,2019-01-02,34.50,1035,1,34.50,1.0,2019,1,2
75,Recife,2019-01-01,170.29,981,8,1362.32,8.0,2019,1,1

In [24]:
# Retornando a data mais antiga
df['Data'].min()

Timestamp('2018-01-01 00:00:00')

In [25]:
# Calculando a diferença de dias 
df['diferenca_dias'] = df['Data'] - df['Data'].min()

In [27]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mês_venda,dia_venda,diferenca_dias
90,Fortaleza,2019-01-01,18.01,1005,2,36.02,2.0,2019,1,1,365 days
22,Aracaju,2018-01-01,150.94,1522,1,150.94,1.0,2018,1,1,0 days
237,Salvador,2019-01-03,38.06,1036,3,114.18,3.0,2019,1,3,367 days
85,Natal,2019-01-02,16.88,1035,3,50.64,3.0,2019,1,2,366 days
34,Aracaju,2018-01-01,38.25,1521,6,229.50,6.0,2018,1,1,0 days

In [32]:
# Criando a coluna trimestre
df['trimestre_Venda'] = df['Data'].dt.quarter

In [33]:
df.sample()

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mês_venda,dia_venda,diferenca_dias,Semestre_Venda,trimestre_Venda
98,Fortaleza,2019-01-01,15.0,1005,2,30.0,2.0,2019,1,1,365 days,1,1

In [34]:
# Filtrando as vendas de 2019 do mês de março
vendas_marco_2019 = df.loc[(df['Data'].dt.year == 2019) & (df['Data'].dt.month == 3)]

In [37]:
vendas_marco_2019.sample(20)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mês_venda,dia_venda,diferenca_dias,Semestre_Venda,trimestre_Venda
140,Recife,2019-03-02,166.89,983,5,834.45,5.0,2019,3,2,425 days,1,1
116,Fortaleza,2019-03-02,79.10,982,2,158.20,2.0,2019,3,2,425 days,1,1
134,Fortaleza,2019-03-02,195.18,980,5,975.90,5.0,2019,3,2,425 days,1,1
140,Salvador,2019-03-02,20.79,1036,2,41.58,2.0,2019,3,2,425 days,1,1
110,Fortaleza,2019-03-02,51.98,983,6,311.88,6.0,2019,3,2,425 days,1,1
8,Natal,2019-03-27,667.00,852,4,2668.00,4.0,2019,3,27,450 days,1,1
124,Recife,2019-03-02,47.98,983,7,335.86,7.0,2019,3,2,425 days,1,1
121,Fortaleza,2019-03-02,41.55,981,3,124.65,3.0,2019,3,2,425 days,1,1
108,Recife,2019-03-02,152.89,981,4,611.56,4.0,2019,3,2,425 days,1,1
71,Natal,2019-03-20,840.00,854,3,2520.00,3.0,2019,3,20,443 days,1,1
137,Recife,2019-03-02,51.99,983,3,155.97,3.0,2019,3,2,425 days,1,1
74,Natal,2019-03-10,303.00,854,3,909.00,3.0,2019,3,10,433 days,1,1
118,Salvador,2019-03-02,92.21,1035,2,184.42,2.0,2019,3,2,425 days,1,1
122,Recife,2019-03-02,235.06,983,3,705.18,3.0,2019,3,2,425 days,1,1
129,Recife,2019-03-02,35.34,982,7,247.38,7.0,2019,3,2,425 days,1,1
111,Salvador,2019-03-02,147.35,1037,2,294.70,2.0,2019,3,2,425 days,1,1
140,Fortaleza,2019-03-02,166.89,983,5,834.45,5.0,2019,3,2,425 days,1,1
126,Recife,2019-03-02,41.87,980,8,334.96,8.0,2019,3,2,425 days,1,1
132,Fortaleza,2019-03-02,17.49,983,5,87.45,5.0,2019,3,2,425 days,1,1
138,Recife,2019-03-02,150.38,983,6,902.28,6.0,2019,3,2,425 days,1,1